:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --white-button-color: #ffffff;
  --accent-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --black-bgc: #2f303a;
  --contacts-list-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
}
ul > li {
  list-style: none;
  /* display: inline-block; */
}
li {
  outline: 2px solid brown;
  display: inline-block;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  color: var(--primary-text-color);
}

button {
  font-family: inherit;
}
/* Header */
.page-header {
  outline: 2px solid brown;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  background-color: var(--white-button-color);
}
/* Site-nav */
.logo {
  color: var(--accent-button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  vertical-align: bottom;
  padding: 24px 93px 23px 215px;
  /* position: absolute; */
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.logo-text {
  color: var(--primary-text-color);
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.main-nav {
  outline: 2px solid brown;
  /* display: inline-block; */
}
.main-nav .link-current {
  color: var(--accent-button-color);
  padding: 32px 50px 32px 93px;
  /* position: absolute; */
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  display: inline-block;
  vertical-align: middle;
}
.site-nav .link {
  display: inline-block;
  vertical-align: middle;
  padding: 32px 50px 32px 50px;
}
.auth-nav a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
address {
  font-style: normal;
  display: inline-block;
}
.contacts-link {
  color: var(--title-text-color);
}
.main-nav a:hover,
.address-nav a:hover,
.main-nav a:focus,
.address-nav a:hover {
  color: var(--accent-button-color);
}
/* Hero*/
.section-hero {
  background-color: var(--black-bgc);
}
.hero-title {
  color: var(--white-button-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
/* Feature */
.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text-feature {
  font-weight: 400;
}
/* .feature-list {
  display: contents;
} */
/* Sample */
.sample-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* .section-sample .computer {
  width: 370px;
  left: 215px;
  top: 1061px;
  border-radius: 0px;
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;} */
/* Workers */
.section-workers {
  background-color: var(--secondary-white-color);
}
.workers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.name-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.workers-list p {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
}
/* Футер */
.logo-text-footer {
  color: var(--white-button-color);
}
.footers {
  background-color: var(--black-bgc);
}
.link-footer {
  color: var(--contacts-list-color);
}
.contacts-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address {
  color: var(--white-button-color);
}
.address-list {
  display: block;
}
/* Button*/
.section-hero .button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  /* position: absolute;
  width: 200px;
  left: 700px;
  top: 430px; */
}
/* Button Portfolio*/
.filters .button-filter {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
  border-color: transparent;
  border: none;
  letter-spacing: 0.03em;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-button-color);
  color: var(--white-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filters {
  text-align: center;
}
/*project Portfolio*/
.project p {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project li {
  background-color: var(--white-button-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
