:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --white-button-color: #ffffff;
  --accent-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --black-bgc: #2f303a;
  --contacts-list-color: rgba(255, 255, 255, 0.6);
}
.full-document {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  text-decoration: none;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
li {
  outline: 2px solid brown;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  color: var(--primary-text-color);
}
button {
  font-family: inherit;
}
/* Header */
.page-header {
  outline: 2px solid brown;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--white-button-color);
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* margin-left: auto;
  margin-right: auto; */
  /* position: absolute; */
  width: 1200px;
  left: 0px;
  top: 0px;
}
/* Site-nav */
.logo {
  color: var(--accent-button-color);
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.style-logo {
  /* padding: 24px 1240px 25px 215px; */
  position: absolute;
  width: 145px;
  /* height: 31px; */
  left: 215px;
  top: 24px;
}
.main-nav {
  outline: 2px solid brown;
}
.main-nav .link-current {
  color: var(--accent-button-color);
}
.logo-text {
  color: var(--primary-text-color);
}
.site-nav a {
  color: var(--primary-text-color);
}
.studio {
  /* padding: 32px 1098px 32px 453px; */
  position: absolute;
  width: 49px;
  /* height: 16px; */
  left: 453px;
  top: 32px;
}
.portfolio {
  /* padding: 32px 971px 32px 552px; */
  position: absolute;
  width: 77px;
  /* height: 16px; */
  left: 552px;
  top: 32px;
}
.style-contacts {
  /* padding: 32px 853px 32px 679px; */
  position: absolute;
  width: 68px;
  /* height: 16px; */
  left: 679px;
  top: 32px;
}
.auth-nav a {
  outline: 2px solid brown;
  font-style: normal;
}
.mailto {
  color: var(--title-text-color);
  position: absolute;
  /* padding: 32px 387px 32px 1078px; */
  width: 135px;
  /* height: 16px; */
  left: 1078px;
  top: 32px;
}
.tel {
  color: var(--title-text-color);
  position: absolute;
  /* padding: 32px 215px 32px 1263px; */
  width: 122px;
  /* height: 16px; */
  left: 1263px;
  top: 32px;
}
.main-nav a:hover,
.address-nav a:hover,
.main-nav a:focus,
.address-nav a:hover {
  color: var(--accent-button-color);
}
/* Hero*/
.section-hero {
  background-color: var(--black-bgc);
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-title {
  color: var(--white-button-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 696px;
  /* height: 120px; */
  left: 452px;
  top: 280px;
  /* padding: 200px 452px 280px 452px; */
}
/* Feature */
.section-feature {
  position: absolute;
  width: 1170px;
  /* height: 101px; */
  left: 215px;
  top: 774px;
}
.feature-list {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.text-feature {
  font-weight: 400;
}
/* Sample */
.sample-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.sample-list li {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.section-sample {
  position: absolute;
  width: 1170px;
  /* height: 386px; */
  left: 215px;
  top: 961px;
}
/* .section-sample .computer {
  width: 370px;
  left: 215px;
  top: 1061px;
  border-radius: 0px;
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;} */
/* Workers */
.section-workers {
  background-color: var(--secondary-white-color);
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
.workers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  /* height: 42px; */
  width: 264px;
  left: 668px;
  top: 1543px;
  display: inline-block;
}
.workers-list {
  width: 1170px;
  /* height: 368px; */
  left: 215px;
  top: 1635px;
}
.workers-list li {
  display: inline-block;
}
.name-workers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.workers-list p {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
}
/* Футер */
.studio-footer {
  color: var(--white-button-color);
}
footer {
  background-color: var(--black-bgc);
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
}
footer .link-footer {
  color: var(--contacts-list-color);
}
.footer-logo {
  /* height: 31px; */
  width: 145px;
  left: 215px;
  top: 2157px;
}
.contacts-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* height: 252px; */
  width: 1600px;
  left: 0px;
  top: 2097px;
}
.address {
  color: var(--white-button-color);
  /* height: 21px; */
  width: 231px;
  left: 215px;
  top: 2208px;
}
.address-list {
  font-style: normal;
  display: block;
}
/* Button*/
.section-hero .button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-button-color);
  background-color: var(--accent-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  position: absolute;
  width: 200px;
  /* height: 50px; */
  left: 700px;
  top: 430px;
  border-radius: 4px;
}
/* Button Portfolio*/
.filters .button-filter {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
  background-color: var(--secondary-white-color);
  color: var(--primary-text-color);
  border-color: transparent;
  border: none;
  letter-spacing: 0.03em;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-button-color);
  color: var(--white-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filters {
  text-align: center;
}
/*project Portfolio*/
.project p {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project li {
  background-color: var(--white-button-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
